.socRow {
    display: flex;
    justify-content: center;
    gap: 35px;

}

.getInTouch {
    background: #ccc;
}

.socials {
    color: red;
}

.contactDesc {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Content {
    font-size: 20px;
}

.cForm {
    width: 150%;
}